@page "/"

<h1>This page will hold statistics//if the user is not logged in no page is available</h1>
<ol>
    <li>Main page with statistics for all adults</li>
    <li>log in and register from homepage </li>
    <li>Job list of the adult</li>
    <li> Ading/deleting adults and jobs</li>
    <li> Everything authorized</li>
</ol>
    Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>