@page "/"

<h1>This page will hold statistics//if the user is not logged in no page is available</h1>
<ol>
    <li>Main page with statistics for all adults</li>
    <li>Log out button manage</li>
    <li> Everything authorized</li>
    <li>Style this sh</li>
    <li>Maybe expande to 2 nd part </li>
</ol>
    Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>