@page "/register"
@using HandIn1.Authentication
@using LoginComponent
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Register Form</h3>


<div class="form-group">
    <label>Username:</label>
    <input type="text" @bind-value="username"/>
</div>
<div class="form-group">
    <label>Password</label>
    <input type="password" @bind-value="password"/>
</div>

<div style="color:red">@errorMessage</div>

<button href="" @onclick="PerformRegister">
    Sign up
</button>


@code {
    private string username;
    private string password;
    // private string domain;
    //  private int securityLevel;
    private string errorMessage;

    [CascadingParameter]
    protected Task<AuthenticationState> AuthState { get; set; }

    public async Task PerformRegister()
    {
        errorMessage = "";
        try
        {
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateRegister(username, password);
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(username, password);
            username = "";
            password = "";
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }






}